.outerContainer {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
  z-index: var(--ui-popup-z-index);
  pointer-events: all;
}

.popupContainer {
  position: relative;
  transform: scale(3);
}

.quietButton {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.quietButton:active {
  position: relative;
  top: 1px;
}

.deathTypeContainer {
  align-items: center;
  display: flex;
  height: 38px;
  justify-content: center;
  left: 4px;
  position: absolute;
  top: 18px;
  width: 42px;
}

.spriteSmall {
  padding-bottom: 12px;
}

.spriteLarge {
  padding-bottom: 12px;
}